{{define "members"}}
    <div class="AllcheckBox">

        <label for="Artist Name" class="Titre">Filter by the number of members</label>

        <div class="CheckBox">
            <input type="checkbox" class="inputFilter" id="maCheckbox1" name="maCheckbox" value="1">
            <label for="maCheckbox1" class="Box">1</label>
        </div>

        <div class="CheckBox">
            <input type="checkbox" class="inputFilter" id="maCheckbox2" name="maCheckbox" value="2">
            <label for="maCheckbox2" class="Box">2</label>
        </div>

        <div class="CheckBox">
            <input type="checkbox" class="inputFilter" id="maCheckbox3" name="maCheckbox" value="3">
            <label for="maCheckbox3" class="Box">3</label>
        </div>

        <div class="CheckBox">
            <input type="checkbox" class="inputFilter" id="maCheckbox4" name="maCheckbox" value="4">
            <label for="maCheckbox4" class="Box">4</label>
        </div>

        <div class="CheckBox">
            <input type="checkbox" class="inputFilter" id="maCheckbox5" name="maCheckbox" value="5">
            <label for="maCheckbox5" class="Box">5</label>
        </div>

        <div class="CheckBox">
            <input type="checkbox" class="inputFilter" id="maCheckbox6" name="maCheckbox" value="6">
            <label for="maCheckbox6" class="Box">6</label>
        </div>

        <div class="CheckBox">
            <input type="checkbox" class="inputFilter" id="maCheckbox7" name="maCheckbox" value="7">
            <label for="maCheckbox7" class="Box">7</label>
        </div>

        <div class="CheckBox">
            <input type="checkbox" class="inputFilter" id="maCheckbox8" name="maCheckbox" value="8">
            <label for="maCheckbox8" class="Box">8</label>
        </div>

        <div class="CheckBox">
            <input type="checkbox" class="inputFilter" id="maCheckbox+" name="maCheckbox" value="9">
            <label for="maCheckbox+" class="Box">+8</label>
        </div>

    </div>
{{end}}


{{define "creationDate"}}{{end}}
{{define "firstAlbumDate"}}{{end}}
{{define "location"}}{{end}}
{{define "artist"}}{{end}}